@charset "UTF-8";
@import "./normalize.css";
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/poppins-medium.ttf") format("truetype");
}
@font-face {
  font-family: "wisdom-script";
  src: url("../fonts/wisdom-script.otf") format("truetype");
}
@font-face {
  font-family: "libre-baskerville";
  src: url("../fonts/libre-baskerville.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/poppins-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-Bold";
  src: url("../fonts/poppins-bold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-Extra-Bold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "sacramento.regular";
  src: url("../fonts/sacramento.regular.ttf ") format("truetype");
}
.container {
  box-sizing: border-box;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #313131;
}

h2 {
  margin: 0;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  box-sizing: border-box;
  content: "";
  border-radius: 50%;
  border: 2px solid #262732d5;
  box-shadow: 0 0 0px 3px #ffffff;
}

.slick-dots li.slick-active button:before {
  background-color: #fc5f45;
  border: 4px solid #262732d5;
  box-shadow: 0 0 0px 3px #fc5f45;
  opacity: 1;
}

/* Header */
header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 75px;
}

header div > a {
  font-family: "wisdom-script";
  color: #fff;
  font-size: 35px;
  margin: 12px;
}

header div > a:hover {
  color: #fc5f45;
}

header div > a::first-letter {
  color: #fc5f45;
}

header nav ul {
  display: flex;
  height: 100%;
  margin: 0;
}

header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 5px;
  font-family: "poppins-medium";
  color: #fff;
}

header nav a:hover {
  color: #fc5f45;
}

.header-fixed {
  position: fixed;
  background-color: #fff;
  z-index: 100;
}

.header-fixed div > a {
  color: #616161;
}

.header-fixed nav a {
  color: #272727;
}

/* main home */
main {
  width: 100vw;
}

.home {
  width: 100%;
  border: 1px solid transparent;
  background-image: linear-gradient(to top, rgba(38, 39, 50, 0.8), rgba(38, 39, 50, 0.8)), url(../Image/home-bg.jpeg);
  background-position: center;
  background-size: cover;
}

.home .container {
  text-align: center;
  padding: 230px 0 155px;
}

.home h2 {
  font-family: "libre-baskerville";
  font-size: 60px;
  line-height: 86px;
  color: #fff;
  margin-bottom: 46px;
}

.home a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  background-color: #fc5f45;
}

.home .container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 85px 200px 0 200px;
}

.home .container a {
  font-family: "poppins-semibold";
  font-size: 18px;
  text-transform: uppercase;
  color: #eee;
  border-radius: 25px;
}

.home .container article {
  width: 235px;
}

.home article p {
  font-family: "poppins-medium";
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
}

.home-block-left {
  color: #38c695;
}

.home-block-center {
  color: #b27cf5;
}

.home-block-right {
  color: #feb960;
}

/* main about */
.about {
  background-color: #fff;
  border-top: 1px solid transparent;
}

.about .container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid transparent;
  padding: 145px 0;
}

.about .image-about {
  width: 555px;
  height: 700px;
  background-image: linear-gradient(to top, rgba(252, 95, 69, 0.5), transparent), url(../Image/5348024601542698_2e54.jpg);
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.about .container div {
  box-sizing: border-box;
  position: relative;
  width: 652px;
  left: -65px;
  padding: 93px 40px 115px 115px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
  border-image-slice: 1;
}

.container .number-block {
  color: rgba(224, 224, 224, 0.302);
  text-transform: uppercase;
  font-family: "poppins-Extra-Bold";
  font-size: 250px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 85px;
  left: 0;
  z-index: 0;
}

.about h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 49px;
  z-index: 2;
}

.about p {
  font-family: "poppins-regular";
  color: #616161;
  font-size: 15px;
  line-height: 27px;
}

/* main services */
.services {
  background-color: #f7f7f7;
}

.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 145px;
  padding-top: 138px;
}

.services .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.services .container > img {
  position: absolute;
}

.services .container > h2 {
  margin-bottom: 0px;
  font-size: 60px;
  font-family: "LibreBaskerville-Bold";
}

.services p {
  margin-top: 23px;
  font-family: "poppins-regular";
  font-size: 15px;
  line-height: 1.66;
  text-align: center;
}

.services-articles {
  width: 1170px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.services-articles article {
  box-sizing: border-box;
  width: 262px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 60px 35px;
}

.services-articles h2 {
  margin-top: 30px;
  font-family: "poppins-medium";
  font-size: 19px;
  color: #313131;
}

.services-articles p {
  font-family: "poppins-regular";
  margin-top: 20px;
}

.sa-left {
  border-bottom: 3px solid #fc5f45;
}

.sa-center-left {
  border-bottom: 3px solid #38c695;
}

.sa-center-right {
  border-bottom: 3px solid #b27cf5;
}

.sa-right {
  border-bottom: 3px solid #feb960;
}

.video {
  height: 500px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.video:hover .controls {
  transform: translateY(0);
}

.video video {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.video .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%) translateY(-3px);
  transition: all 0.5s;
}

.video .controls progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  color: #808080;
  background-color: #000;
}

.video .controls progress::-moz-progress-bar {
  color: #808080;
  background-color: #000;
}

.video .controls progress::-webkit-progress-bar {
  color: #808080;
  background-color: #000;
}

.video .controls .buttons {
  padding: 10px;
}

.video .controls .buttons .play-pause {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .play-pause::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url("../Image/icon-play.png") center/cover no-repeat;
}

.video .controls .buttons .play::before {
  content: "";
  background: url("../Image/icon-play.png") center/cover no-repeat;
}

.video .controls .buttons .pause::before {
  content: "";
  background: url("../Image/icon-pause.png") center/cover no-repeat;
}

.video .controls .buttons .stop {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .stop::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url("../Image/icon-stop.png") center/cover no-repeat;
}

.video .controls .buttons .mute {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.video .controls .buttons .mute::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("../Image/icon-mute-on.png") center/cover no-repeat;
}

.video .controls .buttons .mute-on::before {
  content: "";
  background: url("../Image/icon-mute-on.png") center/cover no-repeat;
}

.video .controls .buttons .mute-off::before {
  content: "";
  background: url("../Image/icon-mute-off.png") center/cover no-repeat;
}

.video .btn-play-main {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px #000;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.video .btn-play-main::after {
  content: "";
  width: 47px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  background: url("../Image/play.png") center/cover no-repeat;
}

.video .btn-play-main::before {
  content: "Click to play the video";
  font-family: "poppins-regular";
  font-size: 16px;
  color: #fff;
  letter-spacing: 1.1px;
  text-shadow: 0 0 3px #000;
  width: 200px;
  position: absolute;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video .btn-play-main:hover {
  border: 3px solid #808080;
  box-shadow: 0 0 3px #808080;
  cursor: pointer;
}

.video .btn-play-main:hover::after {
  background: url("../Image/play-hover.png") center/cover no-repeat;
}

.video .btn-play-main:hover::before {
  color: #808080;
}

.video .btn-play-main:focus {
  outline: none;
  box-shadow: 0 0 5px #808080;
}

.video .button-main-hidden {
  display: none;
}

/* main video-bg */
/* main team */
.team {
  background-color: #fff;
  height: 1080px;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 138px 0 40px;
}

.team .container > img {
  position: absolute;
}

.team .container > h2 {
  font-size: 60px;
  font-family: "LibreBaskerville-Bold";
}

.team .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.team p {
  margin-top: 23px;
  font-family: "poppins-regular";
  font-size: 18px;
  text-align: center;
  width: 95%;
}

.team-articles {
  width: 1170px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.team-articles article {
  width: 262px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.5s;
}

.team-articles .team-left .img {
  width: 263px;
  height: 270px;
  background-image: linear-gradient(to top, rgba(252, 95, 69, 0.5), transparent), url(../Image/team-1foto.png);
}

.team-articles .team-center-left .img {
  width: 263px;
  height: 270px;
  background-image: linear-gradient(to top, rgba(56, 198, 149, 0.5), transparent), url(../Image/team-2foto.png);
}

.team-articles .team-center-right .img {
  width: 263px;
  height: 270px;
  background-image: linear-gradient(to top, rgba(178, 124, 245, 0.5), transparent), url(../Image/team-4foto.png);
}

.team-articles article:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.team-articles .team-right .img {
  width: 263px;
  height: 270px;
  background-image: linear-gradient(to top, rgba(254, 185, 96, 0.5), transparent), url(../Image/team-3foto.png);
}

.team-articles h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "poppins-medium";
  font-size: 19px;
  color: #313131;
}

.team-articles p {
  font-family: "poppins-regular";
  margin: 0 0 15px;
  font-size: 15px;
}

.team-left {
  border-bottom: 3px solid #fc5f45;
}

.team-center-left {
  border-bottom: 3px solid #38c695;
}

.team-center-right {
  border-bottom: 3px solid #b27cf5;
}

.team-right {
  border-bottom: 3px solid #feb960;
}

.team .team-left h2 {
  color: #fc5f45;
}

.team .team-center-left h2 {
  color: #38c695;
}

.team .team-center-right h2 {
  color: #b27cf5;
}

.team .team-right h2 {
  color: #feb960;
}

span.open-info {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #e7e7e7;
  bottom: -75px;
  transform: rotate(45deg);
  z-index: 3;
}

.info-block {
  background-color: #e7e7e7;
  display: flex;
  z-index: 2;
  padding: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.info-block h2 {
  font-family: "poppins-medium";
}

.info-block > p {
  font-family: "poppins-regular";
}

.info-block .share-social {
  align-self: center;
}

.share-social-icon {
  display: block;
}
.share-social-icon p {
  display: inline-block;
  margin: 6px;
  width: auto;
}

.share-social-icon p:hover {
  color: #fc5f45;
  transition: 0.2s;
}

.full-info-left {
  width: 88%;
}
.full-info-left p {
  width: 98%;
}

.info-block .share-social {
  align-self: center;
  margin: 0 33px;
}

.full-info-right {
  width: 169px;
  height: 130px;
  border-left: 1px solid rgba(49, 49, 49, 0.2);
  padding-left: 30px;
  align-self: center;
}

.block-one,
.block-two,
.block-tree,
.block-four {
  position: absolute;
  width: 1170px;
  bottom: -300px;
  min-height: 340px;
  box-sizing: border-box;
  opacity: 0;
}

.info-left,
.info-center-left,
.info-center-right,
.info-right {
  opacity: 0;
  background-color: #fff;
}

.open-info-activ {
  opacity: 1;
  transition: 0.5s;
  z-index: 5;
}

/*main stats*/
main .stats {
  border: 1px solid transparent;
  background-image: linear-gradient(to top, rgba(38, 39, 50, 0.8), rgba(38, 39, 50, 0.8)), url(../Image/bg-stats.jpg);
  background-position: center;
  background-size: cover;
}

.stats .container {
  height: 455px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats .container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fefefe;
}

.stats h2 {
  font-family: "poppins-medium";
  font-size: 20px;
  margin-top: 25px;
}

.stats p {
  font-family: "poppins-regular";
  margin-top: 35px;
}

.stats span {
  margin-top: 15px;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 3px solid black;
}

.stats-bals-left {
  background-color: #fc5f45;
  box-shadow: 0 0 0px 2px #fc5f45;
}

.stats-bals-center-left {
  background-color: #38c695;
  box-shadow: 0 0 0px 2px #38c695;
}

.stats-bals-center-right {
  background-color: #b27cf5;
  box-shadow: 0 0 0px 2px #b27cf5;
}

.stats-bals-right {
  background-color: #feb960;
  box-shadow: 0 0 0px 2px #feb960;
}

/*main work*/
.work {
  background-color: white;
}

.work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 150px;
  padding-bottom: 203px;
}

.work .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.work .container > span {
  position: absolute;
}

.work-bg-1 {
  background-image: linear-gradient(to top, rgba(252, 95, 69, 0.5), transparent), url(../Image/work-img-1.png);
}

.work-bg-2 {
  background-image: linear-gradient(to top, rgba(56, 198, 149, 0.5), transparent), url(../Image/work-img-2.png);
}

.work-bg-3 {
  background-image: linear-gradient(to top, rgba(254, 185, 96, 0.5), transparent), url(../Image/work-img-3.png);
}

.work-bg-4 {
  background-image: linear-gradient(to top, rgba(178, 124, 245, 0.5), transparent), url(../Image/work-img-4.png);
}

.work .container > img {
  position: absolute;
}

.work-bg-1 {
  top: 375px;
  width: 556px;
  height: 300px;
}

.work-bg-2 {
  top: 675px;
  width: 556px;
  height: 300px;
}

.work-bg-3 {
  top: 975px;
  width: 556px;
  height: 300px;
}

.work-bg-4 {
  top: 1275px;
  width: 556px;
  height: 300px;
}

.work-info {
  z-index: 2;
}

.work-block {
  background-color: #fff;
  width: 457px;
  height: 300px;
}

.work-info {
  width: 1140px;
  font-family: "poppins-regular";
}

.work-info > h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.work-info > p {
  font-size: 19px;
  text-align: center;
  margin-bottom: 75px;
  text-align: center;
  width: 95%;
}

.work-block {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-top: 1px solid transparent;
  padding: 48px 30px 10px 122px;
}

.work-right {
  left: 60%;
}

.work-block h6 {
  margin: 0;
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  color: #e0e0e0;
  position: absolute;
  left: 20px;
  top: 20px;
}

.work-block p {
  line-height: 1.8;
}

.work-block img {
  position: absolute;
  left: 45px;
  top: 30px;
}

/*main pricing*/
.pricing {
  background-color: #f7f7f7;
}

.pricing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 145px 0;
}

.pricing .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.pricing h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 7px;
}

.pricing p {
  font-size: 19px;
  font-family: "poppins-regular";
  margin-bottom: 78px;
  text-align: center;
  width: 95%;
}

.pricing article {
  position: relative;
  width: 360px;
  padding-bottom: 130px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.pricing .starter {
  border-top: 3px solid #38c695;
}

.pricing .ultimate {
  border-top: 3px solid #fc5f45;
}

.pricing .professional {
  border-top: 3px solid #b27cf5;
}

.pricing-elements {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing article > h2 {
  font-family: "poppins-medium";
  font-size: 20px;
  margin-top: 34px;
}

.pricing article div {
  box-sizing: border-box;
  width: 105px;
  height: 105px;
  margin: 30px auto;
  padding: 20px 0 0;
  border-radius: 50%;
  border: 3px solid #eee;
  font-family: "poppins-regular";
  color: #eee;
}

.pricing .pricing-elements div h2 {
  font-family: "poppins-regular";
  font-size: 25px;
  margin-bottom: 0px;
}

.pricing .pricing-elements div p {
  margin-top: 10px;
  font-size: 17px;
  margin-bottom: 0;
}

.pricing .starter div {
  background-color: #38c695;
  box-shadow: 0 0 0px 3px #38c695;
}

.pricing .ultimate div {
  background-color: #fc5f45;
  box-shadow: 0 0 0px 3px #fc5f45;
}

.pricing .professional div {
  background-color: #b27cf5;
  box-shadow: 0 0 0px 3px #b27cf5;
}

.pricing article > p {
  font-family: "poppins-regular";
  line-height: 1.15;
  margin-bottom: 0px;
}

.pricing-elements a {
  line-height: 3;
  margin: 38px auto;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "poppins-semibold";
  transition: 0.5s;
  position: absolute;
  left: 0;
  right: 0;
}

.pricing-left {
  border: 2px solid #38c695;
  color: #38c695;
}

.pricing-right {
  border: 2px solid #b27cf5;
  color: #b27cf5;
}

.pricing-center {
  border: 2px solid #fc5f45;
  background-color: #fc5f45;
  color: #eee;
}

.pricing-left:hover {
  background-color: #38c695;
  box-shadow: 0 0 0px 3px #38c695;
  border: 2px solid #eee;
  color: #eee;
  transition: 0.5s;
}

.pricing-right:hover {
  background-color: #b27cf5;
  box-shadow: 0 0 0px 3px #b27cf5;
  border: 2px solid #eee;
  color: #eee;
  transition: 0.5s;
}

.pricing-center:hover {
  background-color: #fc5f45;
  box-shadow: 0 0 0px 3px #fc5f45;
  border: 2px solid #eee;
  transition: 0.5s;
}

/*main testimonials*/
.testimonials {
  background-color: #262732d5;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 138px 15px 120px;
}

.testimonials .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
  color: #5d5d62;
}

.testimonials h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 7px;
  color: white;
  z-index: 2;
}

.testimonials p {
  font-size: 19px;
  text-align: center;
  font-family: "poppins-regular";
  margin-bottom: 78px;
  color: white;
}

.slider {
  width: 1170px;
}

.slide-promo img {
  width: 384px;
  height: 399px;
}

.slide-promo-box {
  background-color: #eee;
}

.slide-promo-box div {
  padding: 50px 60px 30px 70px;
}

.slide-promo-box img {
  position: absolute;
  width: 150px;
  height: 150px;
}

.slide-promo {
  display: flex !important;
  align-items: center;
}

.slide-promo-box div p {
  font-size: 15px;
  font-family: "poppins-regular";
  color: #616161;
  line-height: 1.8;
  margin: 0;
  text-align: left;
}

.slide-promo-box .signature {
  font-size: 40px;
  font-family: "sacramento.regular";
  color: #272727;
  line-height: 2;
  margin: 0;
  text-align: left;
}

.slide-promo-box h3 {
  font-size: 18px;
  font-family: "poppins-medium";
  color: #272727;
  margin: 0;
}

.slide-promo-box h4 {
  font-size: 13px;
  font-family: "poppins-medium";
  color: #fc5f45;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  box-sizing: border-box;
  content: "";
  border-radius: 50%;
  border: 2px solid #262732d5;
  box-shadow: 0 0 0px 3px #ffffff;
}

.slick-dots li.slick-active button:before {
  background-color: #fc5f45;
  border: 4px solid #262732d5;
  box-shadow: 0 0 0px 3px #fc5f45;
  opacity: 1;
}

/*main select*/
.select {
  padding-bottom: 27px;
}

.select .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 150px 0 120px;
}

.select .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.select h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 7px;
}

.select p {
  font-size: 19px;
  font-family: "poppins-regular";
  margin-bottom: 35px;
  text-align: center;
  width: 95%;
}

.select-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}

.select-grid div {
  padding: 103px 37px 31px;
  position: relative;
}

.select-grid img {
  position: absolute;
  top: 44px;
  left: 40px;
}

.select-grid h3 {
  position: absolute;
  top: 40px;
  left: 41px;
  width: 140px;
  margin: 0 60px;
  font-family: "poppins-medium";
  font-size: 18px;
  color: #272727;
  line-height: 1.444;
}

.select-grid p {
  font-family: "poppins-regular";
  font-size: 15px;
  color: #616161;
  line-height: 1.8;
  text-align: left;
}

.select a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "poppins-semibold";
  color: #eeeeee;
}

.select article p {
  display: inline-block;
  font-size: 25px;
  font-family: "poppins-regular";
  color: #272727;
  margin: 0 20px;
  width: auto;
}

/*main blog*/
.blog {
  background-color: #f7f7f7;
  z-index: -1;
}

.blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 142px;
  padding-bottom: 65px;
}

.blog .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.blog h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 7px;
}

.blog p {
  font-size: 19px;
  text-align: center;
  font-family: "poppins-regular";
  margin-bottom: 77px;
}

.blog-grid {
  width: 100%;
  display: grid;
  grid-template-areas: "article0 article1" "article0 article2" "article0 article3";
  grid-gap: 10px;
}

.blog-full-article {
  width: 555px;
  grid-area: article0;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #fc5f45;
}

.blog-article-1 {
  width: 555px;
  grid-area: article1;
}

.blog-article-2 {
  width: 555px;
  grid-area: article2;
}

.blog-article-3 {
  width: 555px;
  grid-area: article3;
}

.blog-full-article img {
  position: absolute;
  z-index: 0;
}

.blog .blog-child-name {
  position: relative;
  margin-left: 35px;
  display: inline-block;
  z-index: 1;
  font-family: "poppins-medium";
  font-size: 15px;
  color: #fc5f45;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 24px;
}

.blog-full-article h3 {
  position: relative;
  display: inline-block;
  z-index: 2;
  font-family: "poppins-regular";
  font-size: 13px;
  color: rgba(255, 255, 255, 0.702);
}

.blog-full-article h2 {
  font-family: "poppins-medium";
  font-size: 20px;
  color: #272727;
  line-height: 1.75;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
}

.blog .article-0-text {
  display: inline-block;
  font-family: "poppins-regular";
  font-size: 15px;
  color: #616161;
  line-height: 1.8;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
}

.read-all-article-0 {
  font-family: "poppins-medium";
  font-size: 15px;
  color: #fc5f45;
}

.full {
  margin-top: 410px;
}

.blog-article .blog-child-name {
  margin: 0px;
}

.blog-article {
  box-sizing: border-box;
  padding: 28px 35px 33px 47px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.blog-article h3 {
  position: relative;
  display: inline-block;
  z-index: 2;
  font-family: "poppins-regular";
  font-size: 13px;
  color: #616161;
  margin: 0;
}

.blog-article h2 {
  margin: 15px 0;
  font-family: "poppins-medium";
  font-size: 20px;
  color: #272727;
  text-align: left;
}

.blog-article .article-0-text {
  margin: 0;
}

.blog-article-1 .blog-child-name {
  color: #38c695;
}

.blog-article-1 .read-all-article-0 {
  color: #38c695;
}

.blog-article-1 {
  border-bottom: 3px solid #38c695;
}

.blog-article-2 .blog-child-name {
  color: #b27cf5;
}

.blog-article-2 .read-all-article-0 {
  color: #b27cf5;
}

.blog-article-2 {
  border-bottom: 3px solid #b27cf5;
}

.blog-article-3 .blog-child-name {
  color: #feb960;
}

.blog-article-3 .read-all-article-0 {
  color: #feb960;
}

.blog-article-3 {
  border-bottom: 3px solid #feb960;
}

/*main contact*/
.contact {
  padding-bottom: 27px;
  background-color: #c0c0c0;
  z-index: -1;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 143px 0 0;
}

.contact .container .number-block {
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

.contact .container > h2 {
  font-family: "LibreBaskerville-Bold";
  font-size: 50px;
  text-align: center;
  margin-bottom: 7px;
}

.contact p {
  font-size: 19px;
  text-align: center;
  font-family: "poppins-regular";
  margin-bottom: 80px;
  width: 95%;
}

/* Form */
.contact form {
  width: 750px;
  font-size: 16px;
  font-family: "poppins-regular";
  color: #616161;
}

.sector-one, .sector-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contact form input {
  width: 360px;
  height: 50px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

.contact form textarea {
  width: 744px;
  height: 200px;
  resize: none;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 50px;
  text-align: center;
  line-height: 2;
}

.contact form .submit {
  display: block;
  width: 195px;
  height: 55px;
  background-color: #fc5f45;
  border: 0;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "poppins-semibold";
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.contact form .submit:hover {
  background-color: #fc5f45;
  box-shadow: 0 0 0px 3px #fc5f45;
  border: 2px solid #eee;
  transition: 0.5s;
}

footer {
  padding: 50px 0 0;
  background-color: #c0c0c0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  background-color: #262732;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960);
  border-image-slice: 1;
}

footer a {
  display: block;
  font-family: "wisdom-script";
  color: #fff;
  margin: 50px 75px;
  font-size: 50px;
}

footer a::first-letter {
  color: #fc5f45;
}

footer div {
  width: 25%;
}

footer div h3 {
  font-size: 18px;
  font-family: "poppins-medium";
}

.footer-block-two h3 {
  color: #38c695;
}

.footer-block-tree h3 {
  color: #b27cf5;
}

.footer-block-four h3 {
  color: #feb960;
  margin-bottom: 30px;
}

footer div p {
  font-size: 18px;
  font-family: "poppins-regular";
  color: #eee;
  line-height: 2;
}

.footer-block-four a {
  display: inline-block;
  margin: 0 5px;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

@media only screen and (min-width: 100px) and (max-width: 1170px) {
  /* общие */
  .container {
    width: auto;
    padding-bottom: 0px;
  }

  header .container {
    display: block;
    width: auto;
    min-height: 70px;
    height: max-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }

  header div > a {
    font-family: "wisdom-script";
    color: #616161;
    font-size: 35px;
    display: inline-block;
    margin: 0;
    margin-top: 12px;
  }

  /* кнопка навигации */
  header .nav_icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: 25px;
    z-index: 12;
  }

  .container .number-block {
    font-size: 150px;
    top: 45px;
  }

  .about .container .number-block {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .nav_icon:after,
.nav_icon:before,
.nav_icon div {
    background-color: #fc5f45;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  .nav_icon.active-icon:before {
    transform: translateY(12px) rotate(135deg);
  }

  .nav_icon.active-icon:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .nav_icon.active-icon div {
    transform: scale(0);
  }

  .nav_icon:before {
    margin-top: 0;
  }

  /* навигация */
  nav.menu_panel {
    display: none;
  }

  header .active {
    display: block;
  }

  .active-header {
    background-color: #fff;
    z-index: 10;
  }

  header nav ul {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  header nav a {
    display: flex;
    margin: 0 5px;
    font-family: "poppins-medium";
    color: #272727;
    padding: 8px;
  }

  header li:hover {
    background-color: aliceblue;
  }

  /* main home */
  .home .container {
    padding: 50px 0;
  }

  .home h2 {
    font-size: 35px;
    margin: 60px 0;
    line-height: 55px;
    color: #fff;
  }

  .home a {
    margin: 55px auto;
  }

  .home .container div {
    margin: 0;
    margin-bottom: 91px;
  }

  .about .container {
    flex-direction: column;
    padding: 0;
  }
  .about .container .image-about {
    display: none;
  }
  .about .container div {
    position: relative;
    width: 100%;
    padding: 70px 30px 30px 40px;
    height: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats .container {
    height: auto;
    display: flex;
    flex-flow: wrap;
  }
  .stats .container div {
    margin: 8px;
  }

  .services .container {
    padding-bottom: 0px;
    padding-top: 70px;
  }
  .services .container h2 {
    font-size: 55px;
  }
  .services .container .services-articles h2 {
    font-size: 19px;
    text-align: center;
  }
  .services .container .number-block {
    top: -12px;
  }
  .services .container .slick-slide img {
    margin: 0 auto;
  }

  .services-articles {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
  }

  .services-articles article {
    margin: 20px;
    width: 262px !important;
  }

  .team {
    height: auto;
  }
  .team .container {
    padding: 70px 0 40px;
  }

  .team-articles {
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: wrap;
  }
  .team-articles article {
    margin: 10px auto;
    width: 23%;
    height: auto;
  }

  .team-articles .team-left .img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-size: contain;
  }

  .team-articles .team-center-left .img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-size: contain;
  }

  .team-articles .team-center-right .img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-size: contain;
  }

  .team-articles .team-right .img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-size: contain;
  }

  .team-articles p {
    font-size: 2vw;
  }

  .team-articles h2 {
    font-size: 2vw;
  }

  .info-block {
    z-index: 4;
    padding: 10px;
  }

  .block-one,
.block-two,
.block-tree,
.block-four {
    position: relative;
    display: none;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
  }

  .full-info-right {
    margin: 0 auto;
    border-left: none;
  }

  .full-info-left {
    width: 100%;
  }
  .full-info-left h2 {
    text-align: center;
  }

  .info-block .share-social {
    display: block;
    margin: 0 auto;
  }

  .info-left,
.info-center-left,
.info-center-right,
.info-right {
    display: none;
    background-color: #fff;
  }

  .open-info-activ {
    display: block;
    opacity: 1;
    transition: 0.5s;
  }

  .work span {
    display: none;
  }

  .work .container {
    padding-bottom: 30px;
    padding-top: 70px;
  }
  .work .container .number-block {
    top: -13px;
  }

  .work-block img {
    position: absolute;
    left: 25px;
    top: 14px;
  }

  .work-block h6 {
    left: 3px;
    top: 3px;
  }

  .testimonials .container {
    width: auto;
    padding: 70px 15px 5px;
  }
  .testimonials .container .number-block {
    top: -12px;
  }

  .slider {
    width: 100vw;
  }

  .slide-promo {
    flex-direction: column;
    width: 100vw !important;
    margin: 0 auto;
  }

  .slide-promo img {
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
    width: 25vw;
    height: 25vw;
  }

  .slide-promo-box div {
    box-sizing: border-box;
    padding: 33px;
    width: 100vw;
    padding-top: 27vw;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -27px;
  }

  .work-info {
    width: 100vw;
  }
  .work-info .work-block {
    left: 0;
    width: 95vw;
    height: auto;
    margin: 10px auto;
    padding: 45px 10px 10px 85px;
  }

  .blog .container {
    padding-top: 70px;
  }
  .blog .container .number-block {
    top: -10px;
  }

  .blog-grid {
    display: block;
  }

  .blog-full-article {
    display: none;
  }

  .blog-article {
    margin: 10px auto;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  .pricing .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .pricing .container .number-block {
    top: -13px;
  }
  .pricing .container h2 {
    font-size: 46px;
  }

  .pricing-elements {
    width: 100%;
    flex-flow: wrap;
    box-shadow: none;
    margin: 0;
  }

  .pricing article {
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  .contact .container {
    padding: 70px 0 0;
  }
  .contact .container .number-block {
    top: -12px;
  }
  .contact form {
    width: auto;
  }
  .contact form .sector-one,
.contact form .sector-two {
    display: block;
    margin-bottom: 0;
  }
  .contact form input {
    display: block;
    width: 95vw;
    margin: 5px auto;
  }
  .contact form textarea {
    width: 95vw;
  }

  .select-grid {
    display: flex;
    flex-flow: wrap;
  }
  .select-grid div {
    width: 244px;
    margin: 0 auto;
    padding: 39px 60px 0px;
  }

  .select-grid img {
    top: 0;
    left: 5px;
  }

  .select-grid h3 {
    top: 0;
    left: 0px;
  }

  .select .container {
    padding: 70px 0 0px;
  }
  .select .container .number-block {
    top: -13px;
  }

  .select article {
    margin: auto;
  }
  .select article p {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .select article a {
    display: grid;
    margin: 20px auto;
  }

  footer {
    padding-bottom: 0;
  }
  footer .container {
    display: block;
  }
  footer .container div {
    width: 270px;
    margin: 0 auto;
  }
  footer .container div a {
    width: auto;
    margin-top: 0;
  }
}
@media only screen and (min-width: 100px) and (max-width: 500px) {
  .home .container article:first-child {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
