@font-face {
    font-family: "poppins-medium";
    src: url("../fonts/poppins-medium.ttf") format("truetype");
}

@font-face {
    font-family: "wisdom-script";
    src: url("../fonts/wisdom-script.otf") format("truetype");
}

@font-face {
    font-family: "libre-baskerville";
    src: url("../fonts/libre-baskerville.ttf") format("truetype");
}

@font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/poppins-semibold.ttf") format("truetype");
}

@font-face {
    font-family: "poppins-regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
}