body {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}

span {
    display: block;
}

img.logotype {
    width: 200px;
}

.purple {
    background-color: rgb(226, 207, 231);
}

.gray {
    background-color: rgb(130, 131, 131);
}

@media only screen and (min-width: 100px) and (max-width: 800px) {
    body {
        width: 100vw;
    }
    div {
        height: 100vh;
    }
    #old {
        position: fixed;
        bottom: 30px;
        left: 0px;
        right: 0px;
    }
}